# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
env/
.venv/

# Database
*.db
instance/

# IDE
.vscode/
.idea/

# Mac
.DS_Store

# Environment variables
.env
.env.local

# Logs
*.log

# Test
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook (kullanırsan)
.ipynb_checkpoints/

# Distribution
dist/
build/
*.egg-info/