{% extends 'base.html' %}

{% block title %}Hakkımda{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">👤 Hakkımda</h4>
            </div>
            <div class="card-body">
                <table class="table table-borderless">
                    <tr>
                        <th width="150">İsim:</th>
                        <td>Fatih</td>
                    </tr>
                    <tr>
                        <th>Şehir:</th>
                        <td>Ankara</td>
                    </tr>
                    <tr>
                        <th>Meslek:</th>
                        <td>Data Scientist</td>
                    </tr>
                    <tr>
                        <th>Öğreniyorum:</th>
                        <td>Python, Flask, Web Geliştirme</td>
                    </tr>
                </table>
                
                <a href="/" class="btn btn-outline-primary">← Ana Sayfaya Dön</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}